@layer base {
    @font-face {
      font-family: Inter;
      font-weight: 400;
      font-style: normal;
      src: url("./fonts/inter/Inter-Regular.ttf") format("truetype");
    }
   
  }
  
  @layer utilities {
    @variants responsive {
      .text-title {
        font-family: "Inter";
        font-style: normal;
        font-weight: 700;
      }
      /* .text-heading {
        font-family: "Satoshi";
        font-style: normal;
        font-weight: 700;
      } */
      .text-body {
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
      }
    }
  }
  