@font-face {
  font-family: Inter;
  font-weight: 400;
  font-style: normal;
  src: url("./styles/fonts/inter/Inter-Regular.ttf") format("truetype");
}

body {
  margin: 0;
  font-family: Inter;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
